*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    
body{
    background-image: url(../img/leal.png);
  
}

nav{
    background-color: rgb(241, 239, 239);
    width: 300px;
    height: 45px;
    margin: 50px auto;
    border: 5px solid rgb(245, 245, 245);
}

.menu{
    list-style: none;
    margin:0;
    padding: 0;
    
}

.menu li{

    float: left;
    position: relative;
    left: 80px;
    
}

.menu li a{
    
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: rgb(0, 238, 255);
    box-sizing: border-box;
    transition: all 1s;
    position: relative;
    left: 225px;
    border: 1px solid rgb(253, 253, 253);
    margin-top: 1cm;
    
}
 


main{
    background-color: rgb(33, 153, 43);
    width: 960px;
    min-height: 900px;
    margin:30px auto;
    padding: 1px;
    border: 5px solid rgb(255, 255, 255);
    
}


.img-gallery{

    width: 90%;
    margin: 90px auto 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 90px;
}
.img-gallery img{
width: 100%;
cursor: pointer;
transition: 1s;

}
.img-gallery img:hover{

    transform: scale(1.5);
}
@media screen and (max-width:400px){
h1{
text-decoration: underline;
}
h1::before{

    display: none;
}
h1 span{

    padding: 0;
}
    
}

.menu{
    
    list-style: none;
    margin:0;
    padding: 5px;
    
}

.menu li{

    float: left;
    position:relative;
    margin-bottom: 40px;
    
    
}

.menu li a{
    
    display: block;
    width: 150px;
    height: 50px;
    background-color: rgb(66, 193, 228);
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    transition: all 1s;
    position: relative;
    left: 380px;
    border: 3px solid rgb(0, 0, 0);
    
    
    
    
}


.menu li a:hover{

    background-color: rgb(189, 218, 28);
    color:rgb(8, 0, 0);
}




main{
    background-color: rgb(201, 223, 4);
    width: 960px;
    min-height: 900px;
    margin:30px auto;
    padding: px;
    border: 5px solid rgb(0, 0, 0);
    
}

header{
   
    width: 1200px;
    height: 1350px;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: 170px;
    border: 6px solid rgb(0, 0, 0);
    
}